#alert_languages_fields input
{
  display: inline-block;
  margin: 5px;
}

#alert_languages_fields
{
  margin-left: -5px;
}

#alert_languages_fields div
{
  clear: both;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

#alert_languages_buttons
{
  padding-top: 25px;
  clear: both;
}

#alert_languages_langs td, #alert_languages_langs th {
  padding-right: 8px;
  max-width: 500px;
  text-align: left;
}

#alert_languages_langs th:first-child, #alert_languages_langs td:first-child {
  min-width: 80px;
}

#alert_languages_langs th:nth-child(2), #alert_languages_langs td:nth-child(2) {
  min-width: 300px;
}

#alert_languages_langs tr {
  padding-bottom: 6px;
  height: 28px;
}

#alert_languages_langs {
  margin-bottom: 8px;
}

#alert_languages_alerts td, #alert_languages_alerts th {
  padding-right: 8px;
  max-width: 500px;
  text-align: left;
}

#alert_languages_langs th:nth-child(-n+2), 
#alert_languages_alerts td:nth-child(-n+2) {
  min-width: 200px;
}

#alert_languages_alerts tr {
  padding-bottom: 6px;
  height: 28px;
}

#alert_languages_alerts td:nth-child(4) {
  border-style: solid;
  min-width: 300px;
}